.product{
    flex: 4;
    .productheader{
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        .productheaderTitle{
            color: #444;
            font-weight: 900;
            font-size: 20px;
        }
        .productheaderCreate{
            border: none;
            text-decoration: none;
            border-radius: 10px;
            background-color: blueviolet;
            color: white;
            font-weight: 600;
            padding: 10px 15px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.5s ease-in;
            &:hover{
                background-color: rgb(76, 11, 138);
            }
        }       
    }
    .productTop{
        display: flex;
        padding: 10px 20px;
        flex-wrap: wrap;
        .productTopLeft{
            flex: 2;
            height: 300px;
            border-radius: 10px;
            padding: 15px 5px;
            box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            -moz-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            .movie__Title{
                font-size: 17px;
                font-weight: 600;
                color: #444;
                margin: 5px;
            }
            video{
                min-width: 350px;
                height: auto;
                width: 100%;
                object-fit: fill;
                min-height: 260px;
            }
        }
        .productTopRight{
            margin: 5px;
            flex: 2;
            box-sizing: border-box;
            box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            -moz-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
            padding: 6px 20px;
            border-radius: 10px;
            .productInfo{
                display: flex;
                flex-direction: column;
                .productInfoItem{
                    display: flex;
                    align-items: center;
                    margin: 5px 0px;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .productInfoKey{
                        color: #444;
                        font-weight: 600;
                    }
                    .productInfoTitle{
                        margin-left: 20px;
                        font-size: 16px;
                        color: gray;
                    }
                }
            }
        }
    }
  .productBottom{
    margin: 10px 20px;
    box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.54);
    padding: 10px 20px;
    border-radius: 10px;
    .productBottomTitle{
        color: #444;
        font-weight: 900;
        font-size: 20px;
        margin: 10px 0px;
    }
    .editproductForm{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
      .productformItem{
          display: flex;
          flex-direction: column;
          margin: 12px 0px;

          label{
            font-size: 16px;
            color: #444;
            font-weight: 600;
        }
        input, select{
            border-radius: 10px;
            padding: 8px 8px;
            border: none;
            font-size: 16px;
            outline: none;
            color: black;
            border: 2px solid gray;
        }
      }
      .editproductRight{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          img{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
            margin-right: 20px;
        }
        .upload{
            display: flex;
            align-items: center;
            .productupdateIcon{
                cursor: pointer;
            }
        }
        .editProductBtn{
            border: none;
            border-radius: 10px;
            background-color: blueviolet;
            color: white;
            font-weight: 600;
            padding: 10px 0px;
            margin-bottom: 10px;
            cursor: pointer;
        }

      }
    }
  }
}